<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite">
<groups>
<run>
	<include name="feature1">

</include>
</run>
</groups>
  <test name="ModuleOneTest">
    <classes>
      <class name="TestScript.SampleThreeTest"/>
      <class name="TestScript.SampleTestTwo"/>
      
    </classes>
  </test> <!-- ModuleOneTest -->
</suite> <!-- SampleSuite -->
